<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-de-aprendizaje-LauraIran7/blob/main/Semana3_Actividad1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Semana 3 - Actividad 1

##Curso: Ciencia y Analítica de Datos

###Tecnológico de Monterrey
###Programa: Maestría en Inteligencia Artificial Aplicada (MNA-V)


Fecha de Entrega: Martes 4 de Octubre de 2022.

**EQUIPO 5:**
* **Laura Irán González Ojeda**
> *	Matrícula: A01794099

* **Marcela Alejandra Rosales Jiménez**
> *	Matrícula: A01032022

##Parte 1. Selección y Limpieza de los Datos

In [2]:
#Importación de Librerias
import pandas as pd
import numpy as np

In [4]:
#Asignar el URL del dataset a una variable
data = 'https://raw.githubusercontent.com/PosgradoMNA/Actividades_Aprendizaje-/main/default%20of%20credit%20card%20clients.csv'

#Exportar los datos del dataset y guardarlos en un dataframe con la librería pandas
df = pd.read_csv(data)
#Previsualización de los datos
df.head()

,ID,X1,X2,X3,X4,X5,X6,X7,X8,X9,...,X15,X16,X17,X18,X19,X20,X21,X22,X23,Y
0,1,20000,2.0,2.0,1.0,24.0,2.0,2.0,-1.0,-1.0,...,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,1.0
1,2,120000,2.0,2.0,2.0,26.0,-1.0,2.0,0.0,0.0,...,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0,1.0
2,3,90000,2.0,2.0,2.0,34.0,0.0,0.0,0.0,0.0,...,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0.0
3,4,50000,2.0,2.0,1.0,37.0,0.0,0.0,0.0,0.0,...,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,0.0
4,5,50000,1.0,2.0,1.0,57.0,-1.0,0.0,-1.0,0.0,...,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0,0.0

In [5]:
#Para iniciar con la limpieza y preparación de datos, se verificará si el dataset tiene datos nulos, y cuántos datos nulos por columna
df.isnull().sum()

ID      0
X1      0
X2      1
X3      2
X4      2
X5      5
X6      3
X7      5
X8      7
X9      9
X10    16
X11    14
X12    11
X13    11
X14    13
X15    15
X16    17
X17    10
X18     8
X19     9
X20     8
X21    11
X22    11
X23     5
Y       3
dtype: int64

##Parte 2. Preparación de los datos

1. **¿Qué datos considero mas importantes? ¿Por qué?**

R=

2. **¿Se eliminaron o reemplazaron datos nulos? ¿Qué se hizo y por qué?**

R=

3. **¿Es necesario limpiar los datos para el análisis? Sí / No / ¿Por qué?**
4. **¿Existen problemas de formato que deban solucionar antes del proceso de modelado? Sí / No / Por qué?**
5. **¿Qué ajustes se realizaron en el proceso de limpieza de datos (agregar, integrar, eliminar, modificar registros (filas), cambiar atributos (columnas)?**